.Heaven/
.ICEauthority
.Valley/
.Xauthority
.android/
.audacity-data/
.bash_history
.bash_logout
.bundle/
.cache/
.cargo/
.config/BibliU/
.config/Bitwarden/
.config/BraveSoftware/
.config/Clementine/
.config/Debauchee/
.config/Electron/
.config/Freezer/
.config/GIMP/
.config/GitKraken/
.config/Heroic/
.config/JetBrains/
.config/Kid3/
.config/Microsoft/
.config/Mousepad/
.config/Nextcloud/
.config/OpenImageIO/
.config/OpenRGB/
.config/Postman/
.config/QtProject.conf
.config/ranger/bookmarks
__pycache__/
.config/Signal Beta/
.config/Signal/
.config/Thunar/
.config/UnityHub/
.config/Unknown Organization/
.config/autostart/
.config/balena-etcher/
.config/bashtop/
.config/bitburner/
.config/blender/
.config/cef_user_data/
.config/chromium/
.config/coc/
.config/com.yuezk.qt/
.config/configstore/
.config/corectrl/
.config/dconf/
.config/discord/
.config/discordcanary/
.config/draw.io/
.config/droidcam
.config/enchant/
.config/fancontrol-gui
.config/figma-linux/
.config/font-manager/
.config/fontconfig/
.config/freerdp/
.config/freezer/
.config/gdlauncher/
.config/gdlauncher_next/
.config/github.com/
.config/gpick/
.config/gtk-2.0/
.config/gtk-3.0/
.config/heroic/
.config/htop/
.config/jelly-desktop/
.config/jellyfin.org/
.config/kde.org/
.config/kdeconnect/
.config/kdeglobals
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/legendary/
.config/libreoffice/
.config/lutris/
.config/menus/
.config/mimeapps.list
.config/mpv/
.config/nautilus/
.config/neofetch/
.config/noisetorch/
.config/obs-studio/
.config/opera/
.config/ownCloud/
.config/pavucontrol.ini
.config/pipewire/
.config/plex.tv/
.config/pulse/
.config/pupgui/
.config/qt5ct/
.config/qt6ct/
.config/redshift/
.config/replay-sorcery.conf
.config/retroarch/
.config/ristretto/
.config/rncbc.org/
.config/rslsync/
.config/screenkey.json
.config/systemd/
.config/teams-for-linux/
.config/teams/
.config/transmission/
.config/trashrc
.config/tuxclocker.conf
.config/unity3d/
.config/vivaldi/
.config/wireplumber/
.config/wireshark/
.config/xfce4-dict/
.config/xfce4/
.config/yarn/
.config/zoomus.conf
.dmrc
.docker/
.dotnet/
.eclipse/
.electron-gyp/
.flake8
.gitkraken/
.gnupg/
.gradle/
.gtkrc-2.0
.icons/
.idlerc/
.java/
.lesshst
.local/
.minecraft/
.mono/
.mozilla/
.mplayer/
.mputils/
.mysql/
.mysql_history
.netrc
.node_repl_history
.npm/
.nuget/
.nvidia-settings-rc
.pki/
.plastic4/
.psensor/
.python_history
.rslsync/
.screenlayout/
.ssh/
.steam/
.steampath
.steampid
.swt/
.themes/
.tlauncher/
.vim/
.viminfo
.w3m/
.wget-hsts
.wine/
.xinitrc
.xprofile
.xsession-errors
.xsession-errors.old
.yarn/
.yarnrc
.zoom/
Desktop/
Documents/
Downloads/
Games/
ISO/
IdeaProjects/
Music/
My Games/
Nextcloud/
Pictures/
SoftMaker/
VMs/
Videos/
dotfiles*/
go/
legion/
macros/
node_modules/
package-lock.json
package.json
workspace/
*.mkv
*.mp4
*.ods
*.pdf
*.png
*.txt
