[user]
	email = aulakhjagraj@gmail.com
	name = Jagraj Aulakh

[core]
	commentChar = ";"
[init]
	defaultBranch = master

[alias]
	logg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	stat = status -s
	kermit = commit
[pull]
	rebase = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[diff]
	tool = nvimdiff
[commit]
	gpgsign = true
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[fetch]
	prune = true
