.Heaven/
.ICEauthority
.Xauthority
.android/
.audacity-data/
.bash_history
.bash_logout
.bundle/
.cache/
.cargo/
.config/BibliU/
.config/Bitwarden/
.config/BraveSoftware/
.config/Clementine/
.config/Debauchee/
.config/Electron/
.config/GIMP/
.config/GitKraken/
.config/JetBrains/
.config/Kid3/
.config/Microsoft/
.config/Mousepad/
.config/Nextcloud/
.config/Postman/
.config/QtProject.conf
.config/Signal Beta/
.config/Signal/
.config/Thunar/
.config/Unknown Organization/
.config/balena-etcher/
.config/cef_user_data/
.config/chromium/
.config/coc/
.config/configstore/
.config/dconf/
.config/discord/
.config/discordcanary/
.config/draw.io/
.config/droidcam
.config/enchant/
.config/font-manager/
.config/fontconfig/
.config/freerdp/
.config/freezer/
.config/gdlauncher/
.config/gdlauncher_next/
.config/github.com/
.config/gpick/
.config/gtk-2.0/
.config/gtk-3.0/
.config/heroic/
.config/htop/
.config/kde.org/
.config/kdeconnect/
.config/kdeglobals
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/legendary/
.config/libreoffice/
.config/mimeapps.list
.config/mpv/
.config/nautilus/
.config/neofetch/
.config/noisetorch/
.config/obs-studio/
.config/opera/
.config/ownCloud/
.config/pavucontrol.ini
.config/plex.tv/
.config/pulse/
.config/qt5ct/
.config/qt6ct/
.config/redshift/
.config/retroarch/
.config/ristretto/
.config/rslsync/
.config/screenkey.json
.config/systemd/
.config/teams/
.config/transmission/
.config/trashrc
.config/unity3d/
.config/vivaldi/
.config/wireshark/
.config/xfce4-dict/
.config/xfce4/
.config/zoomus.conf
.dmrc
.docker/
.dotnet/
.eclipse/
.gitkraken/
.gnupg/
.gradle/
.gtkrc-2.0
.icons/
.idlerc/
.java/
.lesshst
.local/
.minecraft/
.mozilla/
.mplayer/
.mysql_history
.npm/
.nuget/
.nvidia-settings-rc
.pki/
.plastic4/
.python_history
.ssh/
.steam/
.steampath
.steampid
.swt/
.themes/
.tlauncher/
.vim/
.viminfo
.wget-hsts
.xinitrc
.xprofile
.xsession-errors
.xsession-errors.old
.yarnrc
.zoom/
Desktop/
Documents/
Downloads/
Pictures/
Games/
Videos/
IdeaProjects/
Nextcloud/
SoftMaker/
VMs/
dotfiles/
go/
macros/
node_modules/
package-lock.json
package.json
*.txt
*.mp4
*.mkv
*.ods
*.pdf
*.png
